@model IndeavorChallenge.ViewModels.EmployeeViewModel
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	var isNew = Model.employee.id == 0;
	var h2Text = isNew? "Add a new Employee": "Details";
}
<h2>@h2Text</h2>

@*BeginForm does not have close tag. Using statement will dispose it when no needed anymore*@
@using (Html.BeginForm("Save", "Employees"))
{
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="form-group">
					@Html.LabelFor(x => x.employee.name, new { @class = "text-capitalize" })
					@Html.TextBoxFor(x => x.employee.name, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.employee.surname, new { @class = "text-capitalize" })
					@Html.TextBoxFor(x => x.employee.surname, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.employee.hiringDate)
					@Html.DisplayFor(x => x.employee.hiringDate, "{0:d MMM yyyy}", new { @class = "form-control" })
				</div>


				@Html.HiddenFor(x => x.employee.id)
				
			</div>
			<div class="col">
				<div class="form-group">
					@Html.LabelFor(x=>x.skills)
					@Html.DropDownListFor(x=>x.skills, new SelectList(Model.skills,"id", "name"), "Select skills", new {@class= "form-control"})
					<button id="addNewSkillBtn" type="button" class="btn btn-primary mt-3">Add</button>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-md-auto">
				<table id="employeeSkills" data-empl-skills="@Model.skills" class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>Skills</th>
						<th>Action</th>
							
					</tr>
					</thead>
					<tbody>
						@if (Model.employee.skills != null)
						{
							foreach (var skill in Model.employee.skills)
							{
								<tr >
									<td >@Html.DisplayFor(x => skill.name)</td>
									<td ><button type="button" class="btn btn-primary btn-sm js-remove-skill" empl-skill-id="@skill.id" empl-id ="@Model.employee.id">Remove</button></td>
								</tr>

							}
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Save</button>
			@if (!isNew)
			{
				<button type ="button" id="deleteBtn" class="btn btn-secondary">Delete</button>
			}
		</div>
	</div>
}

@section scripts
{
    <script>
		$(document).ready(function () {


			var table = $("#employeeSkills").DataTable();

			$("#addNewSkillBtn").on("click", function () {
				var emplId = $('#@Html.IdFor(m => m.employee.id)').val();
				var button = $(this);
				var selectedSkill = $("#skills option:selected").val();
				var selectedSkillName = $('#skills option:selected').text();
				console.log(selectedSkill);
                console.log(selectedSkillName);

				//table.row.add(selectedSkillName).draw();

				@*$.ajax({
                    url: '/api/employees/employeeskill/' + selectedSkill,
					type: 'PUT',
					data: {
						"emplId": emplId,
						"skillId": selectedSkill
						},
					success: function (response) {
						// Handle success response
						console.log(response);
					},
					error: function (xhr, textStatus, errorThrown) {
						// Handle error response
						console.log(xhr.responseText);
					}

				});*@
			});

            $("#deleteBtn").on("click", function () {
				var button = $(this);
				var emplId = $('#@Html.IdFor(m => m.employee.id)').val();
				console.log(emplId);
                if (confirm("Delete employee?")) {
                    console.log("CONFIRMED");
                    $.ajax({
                        url: "/api/employees/" + emplId,
                        method: "DELETE",
                        success: function () {
                            window.location.href = "/employees/index";
                        }
                    });
                }


            });



			table.on('click', '.js-remove-skill', function () {
				var emplId = $(this).attr("empl-id");
				var skillId = $(this).attr("empl-skill-id");
				var emplName = $('#@Html.IdFor(x => x.employee.name)').val();
				var emplSurName = $('#@Html.IdFor(x => x.employee.surname)').val();
				var emplSkills = $('#employeeSkills').attr("data-empl-skills");
				@*emplSkills = Object.values(emplSkills);
				skillToDel = emplSkills.filter(x => x.id == skillId);*@
				var arr = table.data().toArray();
				console.log(arr);
				console.log("SkillId " + skillId);
				console.log("Employee " + emplId);


				@*$.ajax({
					url: "/api/employees/" + emplId,
					method: "PUT",
					data: {
						"id": emplId,
						"name": emplName,
						"surname": emplSurName,
						"skills": JSON.stringify(emplSkills),
						"hiringDate": "2015-02-05T00:00:00",
					},
					success: function (response) {
						console.log("Skill updated!");
						console.log(response);
					},
					error: function (response) {
						console.log("error");
						console.log(response);
					}
				});*@
			});
		});





    </script>
}

